@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-secondary;
  cursor: none;
}

::-webkit-scrollbar-track {
  @apply bg-secondary;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f50e;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.header-email-text {
  writing-mode: vertical-rl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-video {
  .name {
    mix-blend-mode: multiply;
    background: #000;
  }
}

.tools-list {
  li {
    position: relative;
    padding-left: 16px;

    &::before {
      content: "▹";
      position: absolute;
      left: 0px;
      color: rgb(255, 33, 33);
    }
  }
}

.outline-btn {
  position: relative;
  overflow: hidden;
  @apply text-primary;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    color: white;
    @apply bg-primary;
  }
}

.animate-load {
  transform: translateY(-100%);
  animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite normal none
    running load;
}

@keyframes load {
  100% {
    transform: translateY(0px);
  }
}

.h-80p {
  height: 80vh;
}

.ml-art1 {
  margin-left: 70vw;
}

.ml-art2 {
  margin-left: -100vw;
}

.resume-card {
  background: rgba(255, 255, 255, 0.021);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.055);
}

.project {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 33, 33);
    transition: all 0.2s;
  }

  &:hover {
    &::before {
      transform: translate(-10px, -10px);
    }
  }
}
